<!DOCTYPE html>
<html>
<head>
    <title>SemanticSim Evaluator</title>
    <style>
        #loading {
            display: none;
            text-align: center;
            margin-top: 10px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">SemanticSim Evaluator: Exam Answer Similarity Checker</h1>
        <br><br>
        <form method="POST" onsubmit="showLoading()">
            <div class="form-group">
                <label for="text1">Text 1:</label>
                <textarea class="form-control" id="text1" name="text1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="text2">Text 2:</label>
                <textarea class="form-control" id="text2" name="text2" rows="3"></textarea>
            </div>
            <div id="loading" class="text-center my-3" style="display: none;">Calculating...</div>
            <button type="submit" class="btn btn-primary">Calculate Similarity</button>
        </form>
        <br>
        {% if similarity_result %}
            <h3 class="text-center">{{ similarity_result }}</h3>
        {% endif %}
    </div>
    
    
    <script>
        function showLoading() {
            document.getElementById("loading").style.display = "block";
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
